body {
    background-color: rgb(253, 251, 251);
}
#cabecalho {
    top: 0px;
    position: fixed;
    background-color: #E0BBE4;
    font-family: 'Cutive Mono', monospace;
}

#minha_foto {
    margin-top: 90px;
    border: 20px #957DAD solid;
}

#licoes_aprendidas {
    font-size: 15pt;
    font-family: 'Cutive Mono', monospace;
}

#licoes_a_aprender {
    font-size: 15pt;
    font-family: 'Cutive Mono', monospace;
}

.textos {
    display: inline-block;
}
.lado-esquerdo {
    font-size: 15pt;
    font-family: 'Cutive Mono', monospace;
    line-height: 1.5;
    float: left;
    width: 400px; 
    margin: 20px; 
    text-align: justify;
}

.lado-direito {
    font-size: 15pt;
    line-height: 1.5;
    font-family: 'Cutive Mono', monospace;
    float: right;
    width: 400px;
    margin: 20px; 
    text-align: justify;   
}
table , th , td {
    font-size: 21px;
    font-family: 'Cutive Mono', monospace;
    border: 1px solid;
    margin: 5px;
    padding: 1px;
}
#rodape {
    padding: 20px;
    color: #FEC8D8;
    font-family: 'Cutive Mono', monospace;
}